* {
    margin: 0;
    padding: 0;
}

body {
 font-family: 'Poltawski Nowy', serif;

}
.cabecalho {
    background-image: linear-gradient( #0B0016,#050B56,#0D116A);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.cabecalho-imagem{
    width: 5%;
}
.cabecalho-inicio{  
    justify-content: center;
    align-content: left;
     padding: 24px 0;
}
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.daniela-imagem{
    width: 25%;
}

.daniela{
    background-image: linear-gradient( #0B0016,#2000E5,#3300FF,#F200AE);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.Daniela-div-informações{
    width: 35%;
}
.daniela-titulo{
    padding: 24px 0;
}

.rodape-icone{  
width: 15px;
}

.rodape-div{
    text-align: center;
}